{% extends "layout.html" %}
{% block body %}
    <div class="main">
        <div class="main-header">
            <h2>MineCTC: Landing Page</h2>
        </div>
        <div class="main-body">
            <div class="main-text">
                <h1>Welcome</h1>
                <p>This is the landing page for the Minecraft server at:
                    <br>
                    forge.minectc.com
                    <h2>Downloads</h2>
                    <h3>Mac-Mod-loader:</h3>
                        <a href="downloads/forge/forge-1.7.10-10.13.4.1558-1.7.10-installer.jar">download</a>
                    <h3>Win-Mod-loader:</h3>
                        <a href="downloads/forge/forge-1.7.10-10.13.4.1558-1.7.10-installer-win.exe">download</a>
                    <h3>Linux-Mod-loader:</h3>
                        <a href="downloads/forge/forge-1.7.10-10.13.4.1558-1.7.10-installer.jar">download</a>
                    <h3>Mod-Pack:</h3>
                        <a href="downloads/mods/MinectcRelease15Dec2017.zip">download</a>
                    <h2>MAP:</h2>
                        <a href="http://map.minectc.com">download</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}